<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DocuMinds Enterprise</title>
    <link rel="stylesheet" href="../static/style.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="upload-container">
            {{ form.hidden_tag() }}
           <div id="file-upload"> {{form.file()}}{{form.submit()}}
               {% if form.submit.data %}
                    <p>Uploaded</p>
                {% endif %}
           </div>

        </div>


    <div id="message_box">

            <div id="question">You: {{user_question}}</div>
            <div id="answer">Jassi: {{ answer }}</div>

    </div>

            {{ form.text_box(id="question_box", class="text_button") }}
            {{ form.ask_button(id="ask", class="text_button") }}
        </form>
</body>

</html>